<div class="text-center">
<button type="button" class="btn btn-primary btn-lg" (click)="foo1()" style="background-color:blueviolet">Employees</button>
<button type="button" class="btn btn-primary btn-lg" (click)="foo2()">Devices</button>
</div>
<div *ngIf="x1">
    <ul style="float:left">  
        <li class="list-group-item" *ngFor="let employee of employees;">{{employee.name}}
            <div *ngIf="x3">"Employee id is {{employee.id}} and email address is {{employee.email}}"
                <button style="background-color:rgb(79, 79, 241)" (click)="foo7()">Edit</button>
                <button style="background-color:rgb(247, 48, 48)" (click)="delEmployee(employee)">Delete</button> 
                <form *ngIf="x7" [formGroup]="editempform" (ngSubmit)="editEmployee(employee)">
                  <div class="form-group">
                    <label for="email" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Edit employee's name" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="Edit employee's email" formControlName="email">
                  </div>
                  <div class="form-group">
                    <label for="email" class="form-label">ID:</label>
                      <input type="number" class="form-control" id="id" placeholder="Edit employee's ID" formControlName="id">
                    </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </li>
        <p></p>
        <button (click)="foo3()">Show/Hide details</button>
        <button (click)="foo5()">Add New Employee</button>
        <button (click)="foo9()">Assign device</button>
        <button (click)="foo10()">Show assigned devices</button>
        <p></p>
        <div *ngIf="x10">
          <ul style="float:left">
            <li class="list-group-item" *ngFor="let assdev of assdevs">
              Employee {{assdev.e_name}} has device with serial number {{assdev.d_serial}} assigned to them.
            </li>
          </ul>
        </div>
        <form *ngIf="x5" [formGroup]="newempform" (ngSubmit)="addEmployee()">
            <div class="form-group">
              <label for="email" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter employee's name" formControlName="name">
            </div>
            <div class="form-group">
              <label for="email" class="form-label">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Enter employee's email" formControlName="email">
            </div>
            <div class="form-group">
              <label for="email" class="form-label">ID:</label>
                <input type="number" class="form-control" id="id" placeholder="Enter employee's ID" formControlName="id">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <form *ngIf="x9" [formGroup]="assignform" (ngSubmit)="assign()">
            <div class="form-group">
              <label for="email" class="form-label">Employee name:</label>
              <input type="text" class="form-control" placeholder="Enter employeee's name" formControlName="e_name">
              <label for="email" class="form-label">Device:</label>
              <input type="number" class="form-control" placeholder="Enter device's serial" formControlName="d_serial">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </ul>
</div>
<div *ngIf="x2">
    <ul style="float:right">
        <li class="list-group-item" *ngFor="let device of devices">Serial Number: {{device.serial}}
            <div *ngIf="x4">Type {{device.type}}, {{device.description}}.
              <div *ngIf="device.state; else templateName">
                Device is assigned to an employee.
              </div>
              <ng-template #templateName>
                Device is unassigned.
              </ng-template>
                <button style="background-color:rgb(79, 79, 241)" (click)="foo8()">Edit</button>
                <button style="background-color:rgb(247, 48, 48)" (click)="delDevice(device)">Delete</button>
                <button *ngIf="device.state" style="background-color:rgb(201, 76, 27)" (click)="unassign(device)">Unassign</button>
                <form *ngIf="x8" [formGroup]="editdevform" (ngSubmit)="editDevice(device)">
                  <div class="form-group">
                    <label for="email" class="form-label">Serial Number:</label>
                    <input type="number" class="form-control" id="serial" placeholder="Edit device's serial number" formControlName="serial">
                  </div>
                  <div class="form-group">
                    <label for="email" class="form-label">Description:</label>
                    <input type="text" class="form-control" id="description" placeholder="Edit device's description" formControlName="description">
                  </div>
                  <div class="form-group">
                    <label for="email" class="form-label">Type:</label>
                      <input type="number" class="form-control" id="type" placeholder="Edit device's type" formControlName="type">
                    </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>    
        </li>
        <p></p>
        <button (click)="foo4()">Show/Hide details</button>
        <button (click)="foo6()">Add New Device</button>
        <form *ngIf="x6" [formGroup]="newdevform" (ngSubmit)="addDevice()">
          <div class="form-group">
            <label for="email" class="form-label">Serial Number:</label>
            <input type="number" class="form-control" id="serial" placeholder="Enter device's serial number" formControlName="serial">
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" placeholder="Enter device's description" formControlName="description">
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Type:</label>
              <input type="number" class="form-control" id="type" placeholder="1:laptop, 2:mobile, 3:tablet" formControlName="type">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </ul>
</div>